@import './colors.scss';

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Raleway", sans-serif;
}

#header {
    width: 100vw;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
        padding: 0.5rem 8rem;

    // #navbar {
    //     display: flex;
         
    //     .nav-item {
    //         text-transform: uppercase;
    //         list-style-type: none;
    //         margin: 0 0.2rem;

    //         a {
    //             text-decoration: none;
    //             font-size: 16px;
    //             font-weight: 600;
    //             color: $nav-black;

    //             &:hover {
    //                 color: $nav-selected;
    //             }

    //             &:active {
    //                 color: $nav-selected;
    //                 border-bottom: 1px solid $nav-selected;
    //             }
    //         }

    //     }
    // }

    #actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        #currency-select {
            margin-right: 2rem;
        }
    }

    #logo-container {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 3rem;
            height: 3rem;
        }
    }

}